* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #275f94;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.logo {
    padding: 5px 10px;
}

header nav button {
    color: #275f94;
    background-color: #c5c5c5;
    font-size: 24px;
    border: none;
    height: 46px;
    width: 160px;
    border-radius: 23px;
    
}

.background {
    background-image: url("summer.jpg");
    height: 300px;
    background-size: cover;
    max-width: 1600px;
    background-position: 50% 65%;
    margin: auto;
}

body {
    background-color: #c5c5c5;
    
}

.body-containers {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 30px;
    
}

.individual-container {
    margin: 20px;
    background: rgb(235, 235, 235);
    color: #275f94;
    padding: 30px 30px;
    border-radius: 5%;
}

.producer {
    max-width: 350px;
    max-height: 450px;
}

.producer h2 {
    font-size: 55px;
    font-weight: bold;
    text-align: left;
}

.producer h3 {
    color: #585858;
}

.producer img {
    border-radius: 75px;

}

.service-center {

}

.pictogram {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 1600px;
    margin: auto;
    color:#585858;
    padding-top: 50px;
    border-color: solid red;
}

.pictogram-title img {
    height: 100px;
    width: 100px
}

footer {
    background-color: #275f94;
    max-width: 1600px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}
