* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.header {
    background-color: #275f94;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.logo {
    padding: 5px 10px;
}

header nav button {
    color: #275f94;
    background-color: #c5c5c5;
    font-size: 24px;
    border: none;
    height: 46px;
    width: 160px;
    border-radius: 23px;
    
}

.background {
    background-image: url("Warrensburg.jpg");
    height: 300px;
    background-size: cover;
    max-width: 1600px;
    background-position: 50% 65%;
    margin: auto;
}

body {
    background-color: #c5c5c5;
    
}

.body-containers {
    max-width: 1600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    padding-top: 30px;
    
}

.individual-container {
    margin: 20px;
    background: rgb(235, 235, 235);
    color: #275f94;
    padding: 30px 30px;
    border-radius: 5%;
    width: 350px;
    height: 600px;
}

.producer {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.producer h2 {
    font-size: 55px;
    font-weight: bold;
    text-align: left;
}

.producer h3 {
    color: #585858;
    margin-top: 20px;
}

.producer img {
    border-radius: 75px;
    padding-bottom: 10px;

}

.producer p {
    padding-top: 10px;
}

.about-me {

}

.about-me h3 {
}

.service-center {
    
}

.service-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.policy-change {
    color: #c5c5c5;
    background-color: #275f94;
    font-size: 18px;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px;
    margin-top: 50px;
}

.id-card {
    color: #c5c5c5;
    background-color: #275f94;
    font-size: 18px;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px;
}

.quote-now {
    color: #c5c5c5;
    background-color: #275f94;
    font-size: 18px;
    border: none;
    height: 50px;
    width: 250px;
    border-radius: 25px;
}

.office-location h3 {
    color: #585858;
}

.office-location iframe {
    margin: auto;
}

.location-info {
    padding-top: 50px;
}


.pictogram {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 1600px;
    margin: auto;
    color:#585858;
    padding-top: 50px;
    padding-bottom: 50px;
}

.pictogram-title img {
    height: 100px;
    width: 100px
}

footer {
    background-color: #275f94;
    max-width: 1600px;
    margin: auto;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

.facebook-logo {
    height: 60px;
    width: 60px;
}

.insurance-app {
    height: 60px;
    width: 60px;
}

.apps {
    display: flex;
    justify-content: space-between;
}